* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.panel {
    display: flex;
    height: 100vh;
    width: 100%;
}

#showBox1 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    line-height: 50%;
    width: 50%;
    height: 100vh;
    background-image: url("G:\\gitworkcode\\Test\\工作\\练习项目\\img\\ps.jpg");
    background-size: cover;
    background-attachment: scroll;
    transition: 1.5s all ease;
    overflow: hidden;
}

#showBox2 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    line-height: 50%;
    width: 50%;
    height: 100vh;
    background-image: url("G:\\gitworkcode\\Test\\工作\\练习项目\\img\\xbox.jpg");
    background-size: cover;
    background-attachment: scroll;
    transition: 1.5s all ease;
    overflow: hidden;
}

.title {
    position: relative;
    top: -5%;
    color: white;
    white-space: nowrap;
}

a {
    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 20px 50px;
}

#showBox1:hover {
    width: 150%;
}


/*#showBox1:hover+#showBox2 {
    width: 25%;
}
*/

#showBox2:hover {
    width: 150%;
}


/*#showBox2:hover+#showBox1 {
    width: 25%;
*/

a:hover {
    background-color: rgb(200, 221, 221);
}