* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#showPanel {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 5% 10%dfc;
    width: 40%;
    height: auto;
    background-color: turquoise;
    border-radius: 10px;
}

h5 {
    text-align: center;
}

#textShow {
    text-align: center;
    word-wrap: normal;
    margin-top: 50px;
    margin-bottom: 50px;
}

#but1 {
    width: 200px;
    padding: 10px;
    margin: auto;
}