* {
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 130, 180);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


/* 图片容器 */

.container {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 2px solid black;
    min-width: 150px;
    min-height: 150px;
    background-color: white;
}

.hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
}


/* 内部图片容器 */

#panel {
    background-image: url("../img/5.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
    cursor: pointer;
    height: 100%;
}

.hold {
    border: solid 5px #ccc;
}