* {
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 130, 180);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


/* 图片容器 */

.container {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 2px solid black;
    min-width: 150px;
    min-height: 150px;
    background-color: white;
}


/* 内部图片容器 */

#panel {
    position: relative;
    width: 100%;
    height: 100%;
}