* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.div1 {
    transition: all 1s ease;
    position: relative;
    left: 0;
    width: 250px;
    height: 150px;
    margin-bottom: 10px;
    background-color: turquoise;
    border-radius: 20px;
    text-align: center;
    line-height: 150px;
}

.div2 {
    transition: all 1s ease;
    position: relative;
    left: -1000px;
    width: 250px;
    height: 150px;
    margin-bottom: 10px;
    background-color: turquoise;
    border-radius: 20px;
    text-align: center;
    line-height: 150px;
}

.div3 {
    transition: all 1s ease;
    position: relative;
    left: 1000px;
    width: 250px;
    height: 150px;
    margin-bottom: 10px;
    background-color: turquoise;
    border-radius: 20px;
    text-align: center;
    line-height: 150px;
}