/* 公共样式 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}

button {
    position: absolute;
    left: 50%;
    top: 30px;
    width: 100px;
    height: 50px;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgb(249, 202, 36);
    font-size: 20px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}


/* 外层容器 */

.container {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s linear;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.small {
    width: 600px;
    height: 600px;
}

.large {
    width: 800px;
    height: 800px;
}


/* 图片显示框 */

.imagebox {
    position: relative;
    width: 150px;
    height: 150px;
    background-image: url('https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif');
    background-size: 600px 600px;
    transition: all 0.5s linear;
}

.active {
    margin: 20px;
    animation: ani1 0.5s linear;
}

.notActive {
    animation: ani2 0.5s linear;
}

.imagebox::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    left: 100%;
    top: 10px;
    background-color: rgb(246, 229, 141);
    transform: skewY(45deg);
}

.imagebox::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    top: 100%;
    left: 10px;
    background-color: rgb(249, 202, 36);
    transform: skewX(45deg);
}

@keyframes ani1 {
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes ani2 {
    25% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    75% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}