#div1 {
    position: relative;
    width: 100%;
    height: 500px;
    flex: content;
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

@keyframes test1 {
    from {
        left: 500px;
        transform: translate(0px);
    }
    to {
        transform: translate(-500px);
    }
}

.but1 {
    position: relative;
    float: left;
    font-size: 12px;
    opacity: 0.5;
    cursor: not-allowed;
}

.but2 {
    position: relative;
    float: left;
    font-size: 24px;
}

.but3 {
    position: relative;
    float: left;
    font-size: 36px;
}

#div2 {
    width: 500px;
    height: 500px;
    background-image: url('result.jpg');
    background-position: center;
    background-size: contain;
}

#but4 {
    font-size: 24px;
    margin: 50% 50%;
}

.button {
    display: inline-block;
    border-radius: 8px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 20px;
}

button:hover span::after {
    opacity: 1;
    right: 0;
}